

    <!-- Example row of columns -->
    <div class="row">
      <div class="span12">
        <h1 class="page-header">Today's Flight Schedule</h1>

        <%= link_to "Previous", "#" %>
        <% 1.upto(@num_pages) do |i| %>
          <%= link_to "#{i}", flights_url(:page => i) %>
        <% end %>
        <%= link_to "Next", "#" %>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Flight #</th>
              <th>From</th>
              <th>Departs</th>
              <th>To</th>
              <th>Arrives</th>
              <th>Miles</th>
              <th>Duration</th>
              <th>Seats</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @flights.each do |flight| %>
              <tr>
                <td><%= flight.number %></td>
                <td><%= flight.departure_airport %></td>
                <td><%= flight.departs_at.localtime.strftime("%l:%M %p %Z") %></td>
                <td><%= flight.arrival_airport %></td>
                <td><%= flight.arrives_at.localtime.strftime("%l:%M %p %Z") %></td>
                <td><%= flight.miles %></td>
                <td><%= flight.duration %> minutes</td>
                <td><%= flight.seats %></td>
                <td><%= link_to "Book Now", new_reservation_url(flight_id: flight.id), class: 'btn btn-success' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>



